<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>User Info</title>
  <link rel="stylesheet" href="info.css">
</head>
<body>
  <div class="container">
    <h2>User Info</h2>
    <ul class="list">
      <li id="first"></li>
      <li id="last"></li>
      <li id="state"></li>
    </ul>
  </div>
  <script
    type="module"
    src="info.js"
  ></script>
</body>
</html>